# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Окружение и секреты (чтобы случайно не слить SECRET_KEY)
.env
.env.*

# Настройки IDE (если пользуешься PyCharm или VS Code)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp